Config { font = "xft:Ubuntu Mono:pixelsize=18:antialias=true:hinting=true,Font Awesome 5 Free:style=Solid:pixelsize=16"
       , additionalFonts = []
       , borderColor = "black"
       , border = TopB
       , bgColor = "black"
       , fgColor = "grey"
       , alpha = 255
       , position = Top
       , textOffset = -1
       , iconOffset = -1
       , lowerOnStart = True
       , pickBroadest = False
       , persistent = False
       , hideOnStart = False
       , iconRoot = "."
       , allDesktops = True
       , overrideRedirect = True
       , commands = [
                 -- Gather and format CPU information
                 -- If it's above 50%, we consider it high usage and mark it red
                 Run Cpu [
                 "-t", " <total>%"
                 , "-L", "3"
                 , "-H", "50"
                 , "--normal", "green"
                 , "--high", "red"
                 ] 10

                 -- Gather wireless network status
                 , Run Wireless "" [
                 "-t", " <ssid>"
                 , "-L", "32"
                 , "-H", "67"
                 , "--low", "red"
                 , "--normal", "white"
                 , "--high", "green"
                 ] 10

                 -- Gather network status
                 , Run DynNetwork [
                 "-t", "<rx>KB|<tx>KB"
                 , "--"
                 , "--devices", "wlan0,enp5s0,enp2s0f0"
                 ] 10

                 -- Gather NordVPN status
                 , Run Com "bash" ["-c", "~/.local/bin/get-nordvpn.sh"] "nordvpn" 60

                 -- Gather and format memory usage
                 , Run Memory ["-t"," <usedratio>%"] 10

                 -- Date Formatting
                 , Run DateZone "%H:%M" "nl_NL.UTF-8" "UTC" "date" 10

                 -- Gather and format battery info
                 , Run Battery [
                 "-t", "<acstatus> <left>% (<timeleft>)"
                 , "--"
                 , "-O", ""
                 , "-i", ""
	         , "-o", ""
	         , "-h", "green"
	         , "-l", "red"
                 ] 10

                 -- Gather volume information
                 , Run Volume "pulse" "Master" [
                 "-t", "<status> <volume>%"
                 , "--"
                 , "-O", ""
                 , "-o", ""
                 , "-C", "gray"
                 ] 10

                 -- Gather screen bright brightness information
                 , Run Brightness [
                 "-t", " <percent>%"
                 , "--", "-D", "amdgpu_bl0"
                 ] 60
       ]
       , sepChar = "%"
       , alignSep = "}{"
       , template = "%date% | %wi% %dynnetwork% | %nordvpn%}{%battery% | %cpu% | %memory% | %pulse:Master% | %bright%"
       }
